.navbar{
    height: 6rem;
    width: 100wh;
    background-color: white;
}


.navbar-nav{
    gap: 3rem;
}


.fa-house{
    color: #fe424d;
    font-size: 2.5rem;
}


.nav-link{
    color: #222222 !important;
    font-size: 1.25rem;
}