body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid{
    flex: 1;
    /* width: 100%; */
}



/* NAVBAR */
.navbar{
    height: 6rem;
    width: 100%;
    /* background-color: rgb(145, 143, 143); */
}


.navbar-nav{
    gap: 3rem;
}


.fa-house{
    color: #fe424d;
    font-size: 2.5rem;
}


.nav-link{
    color: #222222 !important;
    font-size: 1.25rem;
}

.container-fluid{
    gap: 1rem;
}


.custom-navbar {
  background-color: #ebebeb; /* solid initially */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* After scroll */
.custom-navbar.scrolled {
  background-color: rgba(235, 235, 235, 0.85); /* translucent but visible */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}





/* FOOTER */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.f-info-socials i{
    font-size: 1.2rem;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}





/* CARDS */
.heading{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.listing-link{
    text-decoration: none;
}

.card {
    border: none !important;
    margin-bottom: 2rem;
    width: 100%;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}



/* CARD-EFFECT */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
} 




/* NEW LISTING */
.add-btn{
    background-color: #fe424d;
}




/* EDIT LISTING */
.edit-btn{
    background-color: #fe424d;
}





/* SHOW LISTING PAGE */
.show-img{
    height: 50vh;
}

.btns{
    display: flex;
    justify-content: space-between;
}

.listing-title{
    font-size: 1.5rem;
}

.back-btn{
    background-color: grey;
}

