html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}


/* NAVBAR */
.navbar{
    height: 6rem;
    width: 100wh;
    background-color: white;
}


.navbar-nav{
    gap: 3rem;
}


.fa-house{
    color: #fe424d;
    font-size: 2.5rem;
}


.nav-link{
    color: #222222 !important;
    font-size: 1.25rem;
}

.container-fluid{
    gap: 1rem;
}



/* FOOTER */
.container{
    height: 100vh;
}

footer{
    width: 100%;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.f-info-socials i{
    font-size: 1.2rem;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
